services:
  # --- 1. SERVICE DISCOVERY (Eureka) ---
  service-discovery:
    restart: always
    # ⚠️ FIX: Match the folder name "ServiceDiscovery" exactly
    build:
      context: ./ServiceDiscovery
      dockerfile: dockerfile  # Your screenshot shows lowercase 'd'
    container_name: service-discovery
    ports:
      - "8761:8761"
    environment:
      - JAVA_OPTS=-Xmx256m -Xms256m
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8761"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    networks:
      - symptom-network

  # --- 2. API GATEWAY ---
  gateway-service:
    build:
      context: ./GatewayService
      dockerfile: dockerfile  # Your screenshot shows lowercase 'd'
    container_name: gateway-service
    network_mode: "host"  # <--- Enables access to SSH Tunnel
    environment:
      - JAVA_OPTS=-Xmx256m -Xms256m
      # 1. Tell Gateway to find Eureka on the VM's localhost (since Eureka exposes port 8761)
      - EUREKA_SERVER_URL=http://localhost:8761/eureka/
      - JWT_SECRET=bXlWZXJ5U2VjdXJlSldUU2VjcmV0S2V5Rm9yQWlTeW1wdG9tVHJhY2tlckFwcGxpY2F0aW9uMTIzNA==InChikitsalayAppAuthenticationThisWillBeHEHESecretYouCannotKnowIt

      # 2. (Optional) Force Gateway to run on Port 80 instead of 9090
      - SERVER_PORT=80
    depends_on:
      service-discovery:
        condition: service_healthy

networks:
  symptom-network:
    driver: bridge