server:
  port: 9090

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # --- 1. Public Auth Routes (Login/Register) ---
            - id: user-service-route
              uri: lb://user-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            # --- 2. Protected User Routes (Profile/Update) ---
            - id: user-service-protected
              uri: lb://user-service
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1
                - AuthenticationFilter # <--- The Bouncer is here!

            # --- 2. Protected User Routes (Profile/Update) ---
            - id: uplaod-service
              uri: lb://upload-service
              predicates:
                - Path=/jsd/**
              filters:
                - StripPrefix=1
                - AuthenticationFilter # <--- The Bouncer is here!
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000


eureka:
  client:
    service-url:
      # This address is still correct
      defaultZone: ${EUREKA_SERVER_URL:http://godn-gw.duckdns.org:8761/eureka/}