server:
  port: 9090

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: lb://user-service
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            - id: user-service-protected
              uri: lb://user-service
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1
                - AuthenticationFilter
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000


eureka:
  client:
    service-url:
      # This address is still correct
      defaultZone: ${EUREKA_SERVER_URL:http://godn-gw.duckdns.org:8761/eureka/}